<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artventure</title>

    <!-- ==========     CSS LINK     ========== -->
    <link rel="stylesheet" href="../css/mainstyle.css">
    <link rel="stylesheet" href="../css/include/style.css">
    <link rel="stylesheet" href="../css/include/navbar.css">
    <link rel="stylesheet" href="../css/include/responsivestyle.css">

    <!-- ==========     FONTS     ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
</head>
<body>
    <!-- ==========     HEADER AREA     ========== -->
    <header class="l-header scroll-header" id="header">
        <nav class="nav bd-container header-reveal">
            <a href="#" class="nav__logo">artventure</a>
            <div class="nav__toggle" id="nav-toggle">
                <span></span>
                <span></span>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list" id="nav-list">
                    <li class="nav__item" id="nav-home"><a href="../index.html" id="link-home" class="nav__link">Home</a></li>
                    <li class="nav__item" id="nav-about"><a href="#" id="link-gallery" class="nav__link active-link">Gallery</a></li>
                    <li class="nav__item" id="nav-shop"><a href="shop.html" id="link-shop" class="nav__link">Shop</a></li>
                    <li class="nav__item" id="nav-team"><a href="our-team.html" id="link-team" class="nav__link">Our team</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- ==========     MAIN AREA     ========== -->
    <main>
        <section class="gallery-jumbotron jumbotron-reveal">
            <div class="gallery-jc">
                <div class="row gallery-jr gallery-text-jr">
                    <div class="content-gallery title-gallery-j">
                        <span class="gallery-title-j">
                            <div class="blank-gallery-j"></div>
                            <div class="wrapper-title">
                                <span class="gallery-subtitle-j">Art is not only a creation</span>
                                <div class="wrapper-2">
                                    <span class="gallery-title-j-1">but also</span>
                                    <span class="gallery-title-j-2">national identity</span>
                                    <span class="gallery-title-j-3">.</span>
                                </div>
                                
                            </div>
                        </span>
                    </div>
                    <div class="gallery-img-j-2">
                        <img class="j-img-2" src="../assets/image/gunungan.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="keberagaman-budaya js-scroll slide-left">
            <div class="keberagaman-budaya">
                <div class="container keberagaman-container">
                    <div class="row keberagaman-row">
                        <div class="content-keberagaman title-keberagaman">
                            <div class="keberagaman-blank-text"></div>
                            <div class="title-keberagaman-1">
                                <div class="title-keberagaman-2">
                                    <span class="keberagaman-title-text">Batik is one of Indonesia's most </span>
                                    <span class="keberagaman-title-text">valuable cultural heritages.</span>
                                </div>
                                <span class="keberagaman-title-text-2">The motif on this dress is indeed</span>
                                <span class="keberagaman-title-text-3"> very beautiful.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container gallery-keberagaman-container">
                    <div class="row gallery-keberagaman-row row-keberagaman-img">
                        <div class="content-keberagaman c-img-keberagaman">
                            <div class="img_keberagaman k-img__1">
                                <div class="text_keberagaman k-txt__1">
                                    <span class="k-text-number">01</span>
                                    <span class="k-text-title">Batik Ceplokan</span>
                                    <span class="k-text-text">
                                        Batik ceplokan merupakan jenis batik yang memiliki pola 
                                        atau motif dengan bentuk dasar geometri, seperti persegi, 
                                        oval maupun bintang yang disusun melingkar sehingga menyerupai 
                                        sekuntum bunga dengan pola simetris.
                                    </span>
                                </div>
                            </div>
                            <div class="img_keberagaman k-img__2">
                                <div class="text_keberagaman k-txt__2">
                                    <span class="k-text-number">02</span>
                                    <span class="k-text-title">Batik Mega Mendung</span>
                                    <span class="k-text-text">
                                        Batik Megamendung merupakan karya seni batik identik yang menjadi 
                                        ikon batik daerah Cirebon. Bahkan Departemen Kebudayaan mendaftarkan 
                                        motif megamendung sebagai salah satu warisan dunia.
                                    </span>
                                </div>
                            </div>
                            <div class="img_keberagaman k-img__3">
                                <div class="text_keberagaman k-txt__3">
                                    <span class="k-text-number">03</span>
                                    <span class="k-text-title">Batik Garutan</span>
                                    <span class="k-text-text">
                                        Garutan sendiri merupakan nama kain batik yang terkenal di Provinsi 
                                        Jawa Barat, khususnya Kabupaten Garut. Yang menarik dari jenis motif 
                                        penuh warna tersebut terdapatnya makna alam yang tersirat di dalam 
                                        setiap guratnya.
                                    </span>
                                </div>
                            </div>
                            <div class="img_keberagaman k-img__4">
                                <div class="text_keberagaman k-txt__4">
                                    <span class="k-text-number">04</span>
                                    <span class="k-text-title">Batik Gentongan</span>
                                    <span class="k-text-text">
                                        Batik Gentongan diartikan sebagai selembar kain batik yang 
                                        memiliki motif dengan teknik gentongan. Motif gentongan 
                                        menampilkan bentuk abstrak sederhana, tanaman atau kombinasi 
                                        keduanya dengan warna terang.
                                    </span>
                                </div>
                            </div>
                            <div class="img_keberagaman k-img__5">
                                <div class="text_keberagaman k-txt__5">
                                    <span class="k-text-number">05</span>
                                    <span class="k-text-title">Batik Kawung</span>
                                    <span class="k-text-text">
                                        Batik Kawung adalah motif batik yang bentuknya berupa 
                                        bulatan mirip buah kawung yang ditata rapi secara geometris. 
                                        Kadang, motif ini juga ditafsirkan sebagai gambar bunga lotus
                                    </span>
                                </div>
                            </div>
                            <div class="img_keberagaman k-img__6">
                                <div class="text_keberagaman k-txt__6">
                                    <span class="k-text-number">06</span>
                                    <span class="k-text-title">Batik Keraton</span>
                                    <span class="k-text-text">
                                        Batik keraton merupakan awal mula dari semua jenis batik yang 
                                        berkembang di Indonesia. Motifnya mengandung beragam makna filosofi 
                                        hidup yang banyak terilhami dari kebudayan Hindu-Jawa.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="promotion js-scroll slide-left">
            <div class="promotion">
                <div class="container keberagaman-container">
                    <div class="row keberagaman-row">
                        <div class="content-keberagaman title-keberagaman">
                            <div class="keberagaman-blank-text"></div>
                            <div class="title-keberagaman-1">
                                <div class="title-keberagaman-2">
                                    <span class="keberagaman-title-text">Jawa is an island that is</span>
                                    <span class="keberagaman-title-text k-t-x"> famous for its rich traditional</span>
                                </div>
                                <span class="keberagaman-title-text-2">musical instruments. One of them is</span>
                                <span class="keberagaman-title-text-3">gamelan.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sec__container container">
                    <div class="card sec-card">
                        <div class="c-wrapper">
                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/gambang.png" alt="" class="sec__img sec-img-1">
                                    <div class="text-card-list">
                                        <span class="sec__title">Gambang</span>
                                        <span class="sec__subtitle">
                                            Gambang merupakan alat musik tradisional asal Jawa Tengah. Gambang adalah alat musik tradisional 
                                            yang terdiri dari 18 bilah bambu yang dimainkan dengan cara dipukul.
                                        </span>

                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
        
                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/siter.png" alt="" class="sec__img sec-img-2">
                                    <div class="text-card-list">
                                        <span class="sec__title">Siter</span>
                                        <span class="sec__subtitle">
                                            Siter adalah alat musik petik yang berdawai (bersenar), bentuknya menyerupai cerempung atau kecapi. 
                                            Siter memiliki 13 pasang senar
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
        
                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/bonang.png" alt="" class="sec__img sec-img-3">
                                    <div class="text-card-list">
                                        <span class="sec__title">Bonang</span>
                                        <span class="sec__subtitle">
                                            Bonang terbuat dari logam dengan bentuk menonjol di bagian atas yang biasa disebut 'pencu atau pencon'.
                                            Cara memainkannya adalah ditabuh atau dipukul bagian atasnya.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
        
                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/kendang.png" alt="" class="sec__img sec-img-4">
                                    <div class="text-card-list">
                                        <span class="sec__title">Kendhang</span>
                                        <span class="sec__subtitle">
                                            Kendhang adalah instrumen dalam gamelan yang salah satu fungsi utamanya mengatur irama. Instrument ini 
                                            dibunyikan dengan tangan, tanpa alat bantu.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
        
                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/saron.png" alt="" class="sec__img sec-img-5">
                                    <div class="text-card-list">
                                        <span class="sec__title">Saron</span>
                                        <span class="sec__subtitle">
                                            Saron atau ricik adalah instrumen gamelan keluarga balungan. 
                                            Saron terbuat dari perunggu dan memainkannya dengan cara dipukul menggunakan palu.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
        
                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/gender.png" alt="" class="sec__img sec-img-6">
                                    <div class="text-card-list">
                                        <span class="sec__title">Gender</span>
                                        <span class="sec__subtitle">
                                            Gender adalah alat musik yang memiliki 10-14 bilah logam bernada, 
                                            dan dimainkan dengan diketuk dengan pemukul dari kayu yang dilapis kain.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/kenong.png" alt="" class="sec__img sec-img-7">
                                    <div class="text-card-list">
                                        <span class="sec__title">Kenong</span>
                                        <span class="sec__subtitle">
                                            Kenong merupakan alat musik yang dimainkan dengan dipukul alat pemukul. 
                                            Kenong berfungsi sebagai penentu batas-batas gatra, menegaskan irama.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/gong.png" alt="" class="sec__img sec-img-8">
                                    <div class="text-card-list">
                                        <span class="sec__title">Gong</span>
                                        <span class="sec__subtitle">
                                            Gong merupakan alat musik pukul yang terkenal di Asia. 
                                            Nada gong terbentuk setelah dibilas dan dibersihkan. Penyesuaian nada gong dengan dikerok.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/suling.png" alt="" class="sec__img sec-img-9">
                                    <div class="text-card-list">
                                        <span class="sec__title">Suling</span>
                                        <span class="sec__subtitle">
                                            Suling merupakan alat musik tiup dilakukan dengan menutup lubang. 
                                            Suling tradisional biasanya dari bambu, bahan lainnya untuk membuat suling modern.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/angklung.png" alt="" class="sec__img sec-img-10">
                                    <div class="text-card-list">
                                        <span class="sec__title">Angklung</span>
                                        <span class="sec__subtitle">
                                            Angklung adalah alat musik yang terbuat dari bambu, dibunyikan dengan cara digoyang 
                                            sehingga menghasilkan bunyi yang bergetar dalam susunan nada.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/kecapi.png" alt="" class="sec__img sec-img-11">
                                    <div class="text-card-list">
                                        <span class="sec__title">Kecapi</span>
                                        <span class="sec__subtitle">
                                            Kecapi adalah sebuah alat musik dawai yang dipetik dengan leher dan punggung 
                                            dalam, biasanya dengan lubang suara atau lubang di badan.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="new__content card-slide">
                                <div class="card-slider-content">
                                    <img src="../assets/image/alat-musik/rebab.png" alt="" class="sec__img sec-img-12">
                                    <div class="text-card-list">
                                        <span class="sec__title">Rebab</span>
                                        <span class="sec__subtitle">
                                            Rebab adalah alat musik gesek dari bahan dasar kayu dan batok kelapa yang memiliki dua buah dawai. Di Indonesia, rebab dikenal sebagai ansambel tradisional dalam karawitan.
                                        </span>
                
                                        <a href="shop.html" class="goto__link">
                                            <div class="sec__pricesm goto">
                                                <span class="sec__price">Go to shop</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
    
                                <button class="button sec__button">
                                    <i class='bx bx-cart-alt sec__icon'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer home-footer">
            <footer class="footer section">
                <div class="footer__container container grid">
                    <div class="footer__content">
                        <a href="#" class="footer__logo">
                            artventure
                        </a>

                        <p class="footer__description">Jelajahi keseniannya <br> dan miliki hasil karyanya.</p>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="../index.html" class="link__footer-title">Home</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Jumbotron</span>
                            </li>
                            <li>
                                <span class="footer__link">Maps</span>
                            </li>
                            <li>
                                <span class="footer__link">Slider</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="#" class="link__footer-title">Gallery</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Jumbotron</span>
                            </li>
                            <li>
                                <span class="footer__link">Gallery Batik</span>
                            </li>
                            <li>
                                <span class="footer__link">Shop Card</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="shop.html" class="link__footer-title">Shop</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Music Shop</span>
                            </li>
                            <li>
                                <span class="footer__link">Batik Shop</span>
                            </li>
                            <li>
                                <span class="footer__link">Discount Shop</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="our-team.html" class="link__footer-title">Our team</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Team</span>
                            </li>
                            <li>
                                <span class="footer__link">Description</span>
                            </li>
                            <li>
                                <span class="footer__link">Card</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="footer__copy">Copyright ©2021 NeoTech</span>

                <img src="../assets/image/wayang1-footer.png" alt="" class="footer__img-one">
                <img src="../assets/image/wayang2-footer.png" alt="" class="footer__img-two">
            </footer>
        </section>
    </main>

    <script src="../js/gallery.js"></script>
</body>
</html>