<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>artventure</title>
    
        <!-- ==========     CSS LINK     ========== -->
        <link rel="stylesheet" href="../css/mainstyle.css">
        <link rel="stylesheet" href="../css/include/style.css">
        <link rel="stylesheet" href="../css/include/navbar.css">
        <link rel="stylesheet" href="../css/include/responsivestyle.css">
    
        <!-- ==========     FONTS     ========== -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    </head>
<body>
    <!-- ==========     HEADER AREA     ========== -->
    <header class="l-header scroll-header" id="header">
        <nav class="nav bd-container header-reveal">
            <a href="#" class="nav__logo">artventure</a>
            <div class="nav__toggle" id="nav-toggle">
                <span></span>
                <span></span>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list" id="nav-list">
                    <li class="nav__item" id="nav-home"><a href="../index.html" id="link-home" class="nav__link">Home</a></li>
                    <li class="nav__item" id="nav-about"><a href="gallery.html" id="link-gallery" class="nav__link">Gallery</a></li>
                    <li class="nav__item" id="nav-shop"><a href="shop.html" id="link-shop" class="nav__link">Shop</a></li>
                    <li class="nav__item" id="nav-team"><a href="#" id="link-team" class="nav__link active-link">Our team</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- ==========     MAIN AREA     ========== -->
    <main>
        <section class="team jumbotron-reveal">
            <div class="team">
                <div class="container team-container">

                    <div class="row team-row r-text-team">
                        <div class="text-team-w">
                            <div class="text-team">
                                <span class="title-team-j">Meet Our Team.</span>
                                <span class="text-team-j">
                                    Kita menyediakan website yang simple dengan design yang 'apik', 
                                    mudah digunakan berbagai kalangan usia dan menyediakan fitur tambahan untuk siapapun 
                                    yang memiliki minat untuk membeli. Tim terdiri dari Latifa Salsabila sebagai UI/UX designer dan illustrator, Sintaina Nur Fadhila sebagai illustrator,
                                    dan Sabrina Aska Amalina sebagai Fron-End Developer. <br>
                                </span>
                                <span class="text-team-j highlight">
                                    "individuals can and do make a difference, but it takes a team to make staggering things"
                                </span>
                            </div>

                            <div class="team-card-c">
                                <div class="team-card-r">

                                    <div class="team__container container">
                                        <div class="card team-card">
                                            <div class="team-wrapper">
                                                <div class="team__content team-slide">
                                                    <div class="team-slider-content">
                                                        <img src="../assets/image/our-team/salsa.png" alt="" class="team-img">
                                                        <h3 class="team-name">Latifa Salsabila</h3>
                                
                                                        <div class="icon">
                                                            <a href="https://web.facebook.com/latifasalsabila.latifasalsabila.3" target="_blank"><i class='bx bxl-facebook-square'></i></a>
                                                            <a href="https://www.instagram.com/latifasalsab/" target="_blank"><i class='bx bxl-instagram'></i></a>
                                                            <a href="https://www.linkedin.com/in/latifa-salsabila-87810a215" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                                <div class="team__content team-slide">
                                                    <div class="team-slider-content">
                                                        <img src="../assets/image/our-team/sinta.png" alt="" class="team-img">
                                                        <h3 class="team-name">Sintaina Nur Fadhila</h3>
                                
                                                        <div class="icon">
                                                            <a href="https://www.instagram.com/sintanfa/" target="_blank"><i class='bx bxl-instagram'></i></a>
                                                            <a href="https://www.linkedin.com/in/sintainanurfadilla" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                                <div class="team__content team-slide">
                                                    <div class="team-slider-content">
                                                        <img src="../assets/image/our-team/aska.png" alt="" class="team-img">
                                                        <h3 class="team-name">Sabrina Aska Amalina</h3>
                                
                                                        <div class="icon">
                                                            <a href="https://www.facebook.com/sabrina.aska.amalina" target="_blank"><i class='bx bxl-facebook-square'></i></a>
                                                            <a href="https://www.instagram.com/sabrinaskaa/" target="_blank"><i class='bx bxl-instagram'></i></a>
                                                            <a href="https://www.linkedin.com/in/sabrinaskaa" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--==================== FOOTER ====================-->
        <section class="footer home-footer">
            <footer class="footer section">
                <div class="footer__container container grid">
                    <div class="footer__content">
                        <a href="#" class="footer__logo">
                            artventure
                        </a>

                        <p class="footer__description">Jelajahi keseniannya <br> dan miliki hasil karyanya.</p>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="../index.html" class="link__footer-title">Home</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Jumbotron</span>
                            </li>
                            <li>
                                <span class="footer__link">Maps</span>
                            </li>
                            <li>
                                <span class="footer__link">Slider</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="gallery.html" class="link__footer-title">Gallery</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Jumbotron</span>
                            </li>
                            <li>
                                <span class="footer__link">Gallery Batik</span>
                            </li>
                            <li>
                                <span class="footer__link">Shop Card</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="shop.html" class="link__footer-title">Shop</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Music Shop</span>
                            </li>
                            <li>
                                <span class="footer__link">Batik Shop</span>
                            </li>
                            <li>
                                <span class="footer__link">Discount Shop</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="#" class="link__footer-title">Our team</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Team</span>
                            </li>
                            <li>
                                <span class="footer__link">Description</span>
                            </li>
                            <li>
                                <span class="footer__link">Card</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="footer__copy">Copyright ©2021 NeoTech</span>

                <img src="../assets/image/wayang1-footer.png" alt="" class="footer__img-one">
                <img src="../assets/image/wayang2-footer.png" alt="" class="footer__img-two">
            </footer>
        </section>
    </main>

    <script src="../js/our-team.js"></script>
</body>
</html>