<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artventure</title>

    <!-- ==========     CSS LINK     ========== -->
    <link rel="stylesheet" href="../css/mainstyle.css">
    <link rel="stylesheet" href="../css/include/style.css">
    <link rel="stylesheet" href="../css/include/navbar.css">
    <link rel="stylesheet" href="../css/include/responsivestyle.css">

    <!-- ==========     FONTS     ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-- ==========     HEADER AREA     ========== -->
    <header class="l-header scroll-header" id="header">
        <nav class="nav bd-container header-reveal">
            <a href="#" class="nav__logo">artventure</a>
            <div class="nav__toggle" id="nav-toggle">
                <span></span>
                <span></span>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list" id="nav-list">
                    <li class="nav__item" id="nav-home"><a href="../index.html" id="link-home" class="nav__link">Home</a></li>
                    <li class="nav__item" id="nav-about"><a href="gallery.html" id="link-gallery" class="nav__link">Gallery</a></li>
                    <li class="nav__item" id="nav-shop"><a href="#" id="link-shop" class="nav__link active-link">Shop</a></li>
                    <li class="nav__item" id="nav-team"><a href="our-team.html" id="link-team" class="nav__link">Our team</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- ==========     MAIN AREA     ========== -->
    <main>
        <section class="shop jumbotron-reveal">
            <div class="shop">
                <div class="container shop-container">
                    <div class="row shop-row r-text-shop">
                        <div class="text-shop-w">
                            <span class="text-shop-j">All Product by</span>
                            <span class="text-shop-j gold-t-s">artventure.</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="musik-card b-musik js-scroll slide-left">
            <div class="musi">
                <div class="container musik-container">
                    <div class="row musik-row">
                        <div class="content-musik musik-content">
                            <span class="text-alat-musik">Alat Musik</span>
                            <div class="blank-alat-musik"></div>
                        </div>
                        <div class="card-wrapper-musik">
                            <div class="card-content-musik">
                                <div class="card-musik-row">

                                    <div class="new__container container">
                                        <div class="card new-card">
                                            <div class="card-wrapper">
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/bonang.png" alt="" class="new__img new-img-1">
                                                        <h3 class="new__title">Bonang</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$40.82</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/gambang.png" alt="" class="new__img new-img-2">
                                                        <h3 class="new__title">Gambang</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$19.29</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/gender.png" alt="" class="new__img new-img-3">
                                                        <h3 class="new__title">Gender</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$350.71</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/gong.png" alt="" class="new__img new-img-4">
                                                        <h3 class="new__title">Gong</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$210.43</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/kendang.png" alt="" class="new__img new-img-5">
                                                        <h3 class="new__title">Kendang</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$175.35</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/kenong.png" alt="" class="new__img new-img-6">
                                                        <h3 class="new__title">Kenong</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$7.01</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>

                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/saron.png" alt="" class="new__img new-img-7">
                                                        <h3 class="new__title">Saron</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$11.57</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>

                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/siter.png" alt="" class="new__img new-img-8">
                                                        <h3 class="new__title">Siter</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$15.08</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>

                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/alat-musik/suling.png" alt="" class="new__img new-img-9">
                                                        <h3 class="new__title">Suling</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$12.89</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="permainan-card b-permainan js-scroll slide-left">
            <div class="permainan">
                <div class="container permainan-container">
                    <div class="row permainan-row">
                        <div class="content-permainan permainan-content">
                            <span class="text-permainan">Batik</span>
                            <div class="blank-permainan"></div>
                        </div>
                        <div class="card-wrapper-permainan">
                            <div class="card-content-permainan">
                                <div class="card-permainan-row">

                                    <div class="new__container container">
                                        <div class="card new-card-1">
                                            <div class="card-wrapper-1">
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/batik/batik_ceplokan.png" alt="" class="new__img n-img-1">
                                                        <h3 class="new__title">Ceplokan</h3>
                                                        <span class="new__subtitle">Batik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$17.54</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/batik/batik_garutan.png" alt="" class="new__img n-img-2">
                                                        <h3 class="new__title">Garutan</h3>
                                                        <span class="new__subtitle">Batik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$26.30</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/batik/batik_gentongan.png" alt="" class="new__img n-img-3">
                                                        <h3 class="new__title">Gentongan</h3>
                                                        <span class="new__subtitle">Batik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$21.04</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/batik/batik_kawung.png" alt="" class="new__img n-img-4">
                                                        <h3 class="new__title">Kawung</h3>
                                                        <span class="new__subtitle">Batik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$17.18</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/batik/batik_keraton.png" alt="" class="new__img n-img-5">
                                                        <h3 class="new__title">Keraton</h3>
                                                        <span class="new__subtitle">Batik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$21.04</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <img src="../assets/image/batik/batik_megamendung.png" alt="" class="new__img n-img-6">
                                                        <h3 class="new__title">Mega mendung</h3>
                                                        <span class="new__subtitle">Batik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$21.04</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="disc-card b-disc js-scroll slide-left">
            <div class="container-disc-card">
                <div class="row-disc-card">
                    <div class="disc-card-content">
                        <div class="group-1">
                            <div class="blank-disc-card"></div>
                            <span class="text-disc-card-1">
                                Get
                            </span>
                            <span class="text-disc-card-2">
                                50%
                            </span>
                        </div>
                        
                        <span class="text-disc-card-1">
                            Discount on New Product
                        </span>
                    </div>
                    <div class="disc-card-img">
                        <img src="../assets/image/disc-image.png" class="disc-image" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="discount-card b-discount js-scroll slide-left">
            <div class="discount">
                <div class="container discount-container">
                    <div class="row discount-row">
                        <div class="card-wrapper-discount">
                            <div class="card-content-discount">
                                <div class="card-discount-row">

                                    <div class="new__container container">
                                        <div class="card new-card-2">
                                            <div class="card-wrapper-2">
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <div class="new__tag">New</div>
                                                        <img src="../assets/image/alat-musik/angklung.png" alt="" class="new__img disc-img-1">
                                                        <h3 class="new__title">Angklung</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$21.12</span>
                                                            <span class="old__price">$10.56</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <div class="new__tag">New</div>
                                                        <img src="../assets/image/alat-musik/kecapi.png" alt="" class="new__img disc-img-2">
                                                        <h3 class="new__title">Kecapi</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$22.80</span>
                                                            <span class="old__price">$11.40</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>
                            
                                                <div class="new__content swiper-slide">
                                                    <div class="swiper-slider-content">
                                                        <div class="new__tag">New</div>
                                                        <img src="../assets/image/alat-musik/rebab.png" alt="" class="new__img disc-img-3">
                                                        <h3 class="new__title">Rebab</h3>
                                                        <span class="new__subtitle">Alat musik</span>
                                
                                                        <div class="new__prices">
                                                            <span class="new__price">$56.11</span>
                                                            <span class="old__price">$28.05</span>
                                                        </div>
                                                    </div>
                        
                                                    <button class="button new__button">
                                                        <i class='bx bx-cart-alt new__icon'></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--==================== FOOTER ====================-->
        <section class="footer home-footer">
            <footer class="footer section">
                <div class="footer__container container grid">
                    <div class="footer__content">
                        <a href="#" class="footer__logo">
                            artventure
                        </a>

                        <p class="footer__description">Jelajahi keseniannya <br> dan miliki hasil karyanya.</p>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="../index.html" class="link__footer-title">Home</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Jumbotron</span>
                            </li>
                            <li>
                                <span class="footer__link">Maps</span>
                            </li>
                            <li>
                                <span class="footer__link">Slider</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="gallery.html" class="link__footer-title">Gallery</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Jumbotron</span>
                            </li>
                            <li>
                                <span class="footer__link">Gallery Batik</span>
                            </li>
                            <li>
                                <span class="footer__link">Shop Card</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="#" class="link__footer-title">Shop</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Music Shop</span>
                            </li>
                            <li>
                                <span class="footer__link">Batik Shop</span>
                            </li>
                            <li>
                                <span class="footer__link">Discount Shop</span>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">
                            <a href="our-team.html" class="link__footer-title">Our team</a>
                        </h3>
                        
                        <ul class="footer__links">
                            <li>
                                <span class="footer__link">Team</span>
                            </li>
                            <li>
                                <span class="footer__link">Description</span>
                            </li>
                            <li>
                                <span class="footer__link">Card</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="footer__copy">Copyright ©2021 NeoTech</span>

                <img src="../assets/image/wayang1-footer.png" alt="" class="footer__img-one">
                <img src="../assets/image/wayang2-footer.png" alt="" class="footer__img-two">
            </footer>
        </section>
    </main>

    <script src="../js/shop.js"></script>
</body>
</html>